@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #061f30;
    width: 100%;
} 


nav{
    .container{
        z-index: 2;
        position: fixed;
        margin-top: 7%;
        border-radius: 50px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
        background-color: #ffffff3f;
        backdrop-filter: blur(10px);
        .nav-brand{
            img{
                position: relative;
                left: 40rem;
                width: 75px;
                height: 75px;
            }
            h2{
                color: #072f49;
                
                font-size: 38px;
            }
            h5{
                position: relative;
                left: 20rem;
            }
        }
        .nav-btn-group{
            a{
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                &:hover{
                    transition: .3s ease-in-out;
                    color: #FDCA34;
                }
                span{
                    color: #d3ab35;
                }
            }
        }
    }
}

button {
    margin-top: 6rem;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color:#072f49;
    color: hsl(0, 0%, 100%);
    box-shadow: #072f49 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: #072f49;
    color: hsl(0, 0%, 100%);
    box-shadow: #072f49 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

.card{
    border-radius: 50px;
    box-shadow: 10px 20px 30px  #072f49;
    background: #011522 !important;
    color: white;
    --bs-card-spacer-y: 10px;
    --bs-card-spacer-x: 0;
}

.list-group-item{
    background: #011522;
    color: white;
}


.fa-solid {
    font-size: 1.5rem;
    color: #88AB8E;
}


.list-group li{
    font-size: 0.9rem;
    border: none;
}

@media only screen and (max-width: 1400px){
    nav{
        display: none;
    }
}